---
import PrevIcon from "../icons/PrevIcon.astro";
import NextIcon from "../icons/NextIcon.astro"
---

<section class="flex gap-4">
    <a href="/" class="p-1 rounded-full bg-zinc-900/25">
        <PrevIcon/>
    </a>
</section>