---
import PrevIcon from "../icons/PrevIcon.astro";
import NextIcon from "../icons/NextIcon.astro"
---

<section class="flex gap-4">
    <a href="/" class="p-1 rounded-full bg-zinc-500/25">
        <PrevIcon/>
    </a>
    <a class="p-1 rounded-full bg-zinc-500/10 text-opacity-10 cursor-not-allowed">
        <NextIcon/>
    </a>
</section>